<header>
  <nav class="ui top fixed inverted menu">
    <a class="item" routerLink="/">Accueil</a>
    <a class="item" (click)="displayLoginForm()" *ngIf="!session.token">Se connecter</a>
    <div class="right menu" *ngIf="session.token">
      <div class="item">{{session.login}}</div>
      <a class="item" [routerLink]="['/settings']"><i class="settings icon"></i></a>
      <a class="item" (click)="logout()">Déconnexion</a>
    </div>
  </nav>
  <div style="height:50px;"></div>
</header>

<div class="ui modal">
  <div class="header">Connexion/Inscription <span (click)="closeLoginForm()" style="cursor:pointer;float:right;">&times;</span></div>
  <div class="ui centered grid" style="margin-top:20px;margin-bottom:20px;">
    <div class="fourteen wide column">
      <div class="ui error message" *ngIf="formError.length > 0">
        <div class="header">Erreur</div>
        <p *ngFor="let o of formError">• {{o}}</p>
      </div>
    </div>
    <div class="fourteen wide column">
      <div class="ui placeholder segment">
        <div class="ui two column very relaxed stackable grid">
          <div class="column">
            <h2 class="ui center aligned icon header">
              <i class="circular user icon"></i>
              Se connecter
            </h2>
            <div class="ui form">
              <div class="field">
                <label>Pseudo</label>
                <div class="ui left icon input">
                  <input type="text" placeholder="Username" [(ngModel)]="form.login">
                  <i class="user icon"></i>
                </div>
              </div>
              <div class="field">
                <label>Mot de passe</label>
                <div class="ui left icon input">
                  <input type="password" placeholder="Password" [(ngModel)]="form.pw">
                  <i class="lock icon"></i>
                </div>
              </div>
              <div class="ui blue submit button" (click)="login()">Connexion</div>
            </div>
          </div>
          
          <div class="middle aligned column">
            <h2 class="ui center aligned icon header">
              <i class="circular sign in alternate icon"></i>
              S'inscrire
            </h2>
            <div class="ui form">
              <div class="field">
                <label>Pseudo</label>
                <div class="ui left icon input">
                  <input type="text" placeholder="Username" [(ngModel)]="form.Slogin">
                  <i class="user icon"></i>
                </div>
              </div>
              <div class="field">
                <label>Mot de passe (4 caractères min.)</label>
                <div class="ui left icon input">
                  <input type="password" placeholder="Password" [(ngModel)]="form.Spw">
                  <i class="lock icon"></i>
                </div>
              </div>
              <div class="field">
                <label>Confirmer le mot de passe</label>
                <div class="ui left icon input">
                  <input type="password" placeholder="Password" [(ngModel)]="form.Spw2">
                  <i class="lock icon"></i>
                </div>
              </div>
              <div class="ui blue submit button" (click)="subscribe()">Inscription</div>
            </div>
          </div>
        </div>
        <div class="ui vertical divider">
          Or
        </div>
      </div>
    </div>
  </div>
</div>
