<!--{{perso | json}}-->

<div class="ui centered grid" *ngIf="perso">
  <section class="fourteen wide column" *ngIf="list">
    <div class="ui fluid nine item menu">
      <a class="item"><i class="angle double left icon"></i></a>
      <a class="item"><i class="angle left icon"></i></a>
      <a class="item" *ngFor="let o of list" (click)="o ? goto(o.id) : null">
        <span *ngIf="o">{{o.prenom}} {{o.nom}}</span>
        <span *ngIf="!o">...</span>
      </a>
      <a class="item"><i class="angle right icon"></i></a>
      <a class="item"><i class="angle double right icon"></i></a>
    </div>
  </section>
  <section class="fourteen wide column">
    <div class="ui inverted segments">
      <div class="ui center aligned segment">
          <h3>Fiche de {{perso.prenom}} {{perso.nom}}</h3>
          <div class="ui center aligned segment">
            <!--Général-->
            <app-general [viewonly]="true" [perso]="perso"></app-general>
          </div>
          <div class="ui center aligned segment">
            <h5>Attributs</h5>
            <div class="ui horizontal segments">
              <div class="ui segment">
                <!--Statistiques-->
                <app-stats [viewonly]="true" [bars]="perso.bars"></app-stats>
              </div>
              <div class="ui segment">
                <!--Caractéristiques-->
                <app-carac [viewonly]="true" [stats]="perso.stats"></app-carac>
              </div>
            </div>
          </div>
          <div class="ui center aligned segment">
            <!--Equipement-->
            <app-stuff [viewonly]="true" [stuff]="perso.stuff"></app-stuff>
          </div>
          <div class="ui center aligned segment">
            <!--Compétences-->
            <app-comp [viewonly]="true" [competences]="perso.competences"></app-comp>
          </div>
          <button [routerLink]="['/edit', perso.id]" class="ui primary button">Edit</button>
      </div>
    </div>
  </section>
</div>
